.app-wrapper {
  max-width: calc(600px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 16px 16px;
  flex-direction: column;
  opacity: 1;
}
.button-right {
  float: right;
}
.button-left {
  float: left;
}
.drawer-icon :hover {
  color:black;
}
.drawer-icon :active {  
  color:white;
}
.company-title {
font-size: 2.3125rem !important;
}
.company-title-detail {
  color: black
}
.shift-header {
  left: -240px;
}